streamlit
openai
PyPDF2
speechrecognition
pandas
sentence-transformers
reportlab
torch --index-url https://download.pytorch.org/whl/cpu
groq
pyaudio
google-cloud-speech
speechrecognition
ffmpeg
ffmpeg-python
